name: CD

on:
  push:
    branches:
      - 'main'

  schedule:
    - cron: '0 0 * * *' # run every day at midnight
  workflow_dispatch:
    

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

env:
  NODE_VERSION: 16.x

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_PAGES_DEPLOY_HOOK: ${{ secrets.CLOUDFLARE_PAGES_DEPLOY_HOOK }}
      HUGO_VERSION: 0.120.4

    steps:
      - name: Updateing Go version
        #uses: actions/checkout@v4
        uses: actions/setup-go@v4
       # ==== GO VERSION ====
        with:
          go-version: '^1.21.4' # The Go version to download (if necessary) and use.

      - name: Trigger Cloudflare Pages build
        if: startsWith(env.CLOUDFLARE_PAGES_DEPLOY_HOOK, 'https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/') && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')
        run: curl -X POST ${{ secrets.CLOUDFLARE_PAGES_DEPLOY_HOOK }}


      - uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.120.4' # 'latest'
          extended: true

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build with Hugo
        env: # Or as an environment variable
         NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
         NOTION_BLOG_DATABASE_ID: 4c567433bd4c449fb1a2311ba2e9205b
        run: |
          npm install
          rm -rf content/*
          npm start
          hugo \
              --gc \
              --minify \
              --baseURL "${{ steps.pages.outputs.base_url }}/"
          rm -rf .notion-hugo-cache/


      - name: Commit updated content
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Sync content with Notion

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
